<style>
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 5;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div4 {
    grid-area: 2 / 4 / 3 / 5;
  }
  .masonry-img {
    border-radius: 4px !important;
    position: relative;
  }
  .masonry-img img {
    border-radius: 4px !important;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
  }
</style>
<section class=" tw-container tw-mx-auto tw-p-8 tw-pb-16">
  <h1 class="tw-font-body tw-font-bold tw-text-5xl tw-my-8">{{ section.settings.masonry_title }}</h1>
  <div class="parent  tw-gap-8">
    <a href="/products/glove" class="masonry-img  tw-shadow-lg div1">
      {% render 'masonry-label', label: section.settings.masonry_image_title %}
      {{
        section.settings.masonry_image
        | image_url: width: 1100
        | image_tag: class: 'tw-w-full tw-transition tw-duration-500 tw-group-hover:opacity-90"', loading: 'lazy'
      }}
    </a>
    <a href="/products/glove" class="masonry-img  tw-shadow-lg div2">
      {% render 'masonry-label', label: section.settings.masonry_image_title_r1 %}
      {{
        section.settings.masonry_image_r1
        | image_url: width: 1100
        | image_tag:
          class: 'tw-object-cover tw-w-full tw-transition tw-duration-500 tw-group-hover:opacity-90"',
          loading: 'lazy'
      }}
    </a>
    <a href="/products/glove" class="masonry-img  tw-shadow-lg div3">
      {% render 'masonry-label', label: section.settings.masonry_image_title_r2 %}
      {{
        section.settings.masonry_image_r2
        | image_url: width: 1100
        | image_tag:
          class: 'tw-object-cover tw-w-full tw-transition tw-duration-500 tw-group-hover:opacity-90"',
          loading: 'lazy'
      }}
    </a>
    <a href="/products/glove" class="masonry-img  tw-shadow-lg div4">
      {% render 'masonry-label', label: section.settings.masonry_image_title_r3 %}
      {{
        section.settings.masonry_image_r3
        | image_url: width: 1100
        | image_tag:
          class: 'tw-object-cover tw-w-full tw-transition tw-duration-500 tw-group-hover:opacity-90"',
          loading: 'lazy'
      }}
    </a>
  </div>
</section>
{% schema %}
{
  "name": "Masonry",
  "presets": [
    {
      "name": "Masonry Grid",
      "category": "Grid"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "masonry_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    },
    {
      "type": "text",
      "id": "masonry_image_title",
      "label": "Title",
      "default": "The Perfect Ball"
    },
    {
      "type": "text",
      "id": "masonry_image_title_r1",
      "label": "Title",
      "default": "Goes where you go"
    },
    {
      "type": "text",
      "id": "masonry_image_title_r2",
      "label": "Title",
      "default": "SPONTANEOUS FUN"
    },
    {
      "type": "text",
      "id": "masonry_image_title_r3",
      "label": "Title",
      "default": "VARIETY OF COLORS"
    },
    {
      "type": "image_picker",
      "id": "masonry_image",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r1",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r2",
      "label": "Offer Image"
    },

    {
      "type": "image_picker",
      "id": "masonry_image_r3",
      "label": "Offer Image"
    },
    {
      "type": "text",
      "id": "masonry_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "masonry_button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "masonry_url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
