<style>
  img {
    margin: 0 auto;
  }
</style>
<section class="tw-text-center tw-bg-cream my-8 tw-py-16 tw-mx-auto">
  <section class="tw-mx-auto tw-text-center tw-container ">
    <h1 class=" tw-text-center tw-mx-auto">{{ section.settings.offer_title }}</h1>
    <div class="tw-gap-32  tw-m-8 tw-columns-3">
      <div class="tw-flex tw-flex-col tw-justify-center tw-rounded-lg tw-h-[350px] md:tw-bg-cream tw-border-4  tw-border-brown">
        <h1>1 Ball</h1>
        {{
          section.settings.offer_image_1
          | image_url: width: 180
          | image_tag: loading: 'lazy', sizes: '100', widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
        {% comment %} <img loading="lazy" width="auto" height="200" src="{{ section.settings.offer_image_1 | image_url }}"> {% endcomment %}
        <h3 class="tw-text-5xl tw-my-4">$39.99</h3>
        <h4 class="tw-uppercase tw-font-bold tw-font-heading">Per Ball</h4>
      </div>
      <div class="tw-flex tw-flex-col tw-justify-center tw-rounded-lg tw-h-[350px] tw-bg-cream tw-border-4  tw-border-brown">
        <h1>2 Ball</h1>
        {{
          section.settings.offer_image_2
          | image_url: width: 200
          | image_tag: loading: 'lazy', sizes: '100', widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
        <h3 class="tw-text-5xl tw-my-4">$36.97</h3>
        <h4 class="tw-uppercase tw-font-bold tw-font-heading">Per Ball</h4>
      </div>
      <div class="tw-flex tw-flex-col tw-justify-center tw-rounded-lg tw-h-[350px] tw-bg-cream tw-border-4  tw-border-brown">
        <h1>3 Ball</h1>
        {{
          section.settings.offer_image_3
          | image_url: width: 180
          | image_tag: loading: 'lazy', sizes: '100', widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
        <h3 class="tw-text-5xl tw-my-4">$33.29</h3>
        <h4 class="tw-uppercase tw-font-bold tw-font-heading">Per Ball</h4>
      </div>
    </div>
    <div class="tw-w-full tw-p-16 tw-py-4">
      <button class="tw-bg-cyan tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-w-full  tw-rounded-full tw-shadow ">
        BUY NOW
      </button>
    </div>
  </section>
</section>
{% schema %}
{
  "name": "Triple Offer",
  "presets": [
    {
      "name": "Triple Offer",
      "category": "Offers"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "offer_title",
      "label": "Title",
      "default": "Offer"
    },
    {
      "type": "image_picker",
      "id": "offer_image_1",
      "label": "Offer 1 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_2",
      "label": "Offer 2 Image"
    },
    {
      "type": "image_picker",
      "id": "offer_image_3",
      "label": "Offer 3 Image"
    },
    {
      "type": "text",
      "id": "offer_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "offer_button",
      "label": "Button",
      "default": "Buy now"
    },
    {
      "type": "text",
      "id": "offer_url",
      "label": "URL",
      "default": "#"
    }
  ]
}
{% endschema %}
