{% stylesheet %}
  {{ 'promo.css' | asset_url | stylesheet_tag }}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  #box1 {
  background-image: url({{ section.settings.promo_img_1 | image_url }});
  background-repeat: no-repeat;
  background-size: cover;
  }
  #box2 {
    background-image: url({{ section.settings.promo_img_2 | image_url }});
    background-repeat: no-repeat;
    background-size: cover;
    }
    .promo-container {
      background-image: url({{ "WoodBG.png" | asset_url }});
    }
    .promo-header {
      background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      backdrop-filter: blur(21px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 25px;
    }
</style>

<section class="tw-flex promo-container md:tw-px-16 md:tw-py-32 tw-container tw-mx-auto">
  <div
    id="box2"
    class="md:tw-w-1/2 w-full tw-min-h-[50vh] tw-rounded-lg tw-p-4"
  >
    <div></div>
  </div>
  <div
    id="box1"
    class="w-full tw-flex tw-flex-col tw-justify-center tw-mx-2 md:tw-w-1/2 tw-text-center tw-rounded-lg tw-bg-[#E99E69]"
  >
    <h3 class="promo-header tw-max-fit tw-mx-auto tw-font-body tw-p-8 tw-my-16 uppercase tw-font-thin tw-text-center tw-text-5xl">
      {{ section.settings.promo_title }}
    </h3>
    <button class="button tw-text-center tw-shadow-lg tw-mx-auto tw-max-w-[300px] tw-bg-scarlet">
      <span class="tw-text-md"> {{ section.settings.promo_btn_title }}</span>
    </button>
  </div>
</section>

{% schema %}
{
  "name": "Promo",
  "presets": [
    {
      "name": "Promo",
      "category": "Promo"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "promo_img_1",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "promo_img_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Title",
      "default": "Learn why everone everywhere are loving yardball!"
    },
    {
      "type": "text",
      "id": "promo_btn_title",
      "label": "Button Text",
      "default": "Find out more"
    }
  ]
}
{% endschema %}
