<style>
  .video-cover {
    background-image: url({{'iPhone_8_1.png'|file_url}});
    background-size: cover;
  }

  .video-cover:nth-child(1) {
    background-image: url({{'iPhone_8_1.png'|file_url}});
    background-size: cover;
  }
  .video-cover:nth-child(2) {
    background-image: url('https://cdn.shopify.com/s/files/1/0756/7432/1181/files/iPhone_8_-_2.png');
    background-size: cover;
  }
  .video-cover:nth-child(3) {
    background-image: url({{'iPhone_8_-_5.png'|file_url}});
    background-size: cover;
  }
  .video-cover:nth-child(4) {
    background-image: url({{'iPhone_8_-_4.png'|file_url}});
    background-size: cover;
  }
  .video-cover:nth-child(5) {
    background-image: url({{'iPhone_8_-_1.png'|file_url}});
    background-size: cover;
  }
  .video-cover:nth-child(6) {
    background-image: url({{'iPhone_8_-_3.png'|file_url}});
    background-size: cover;
  }
  .video-cover:nth-child(7) {
    background-image: url({{'iPhone_8_-_3.png'|file_url}});
    background-size: cover;
  }
</style>

<section class="tw-container tw-mx-auto tw-text-left tw-p-16 tw-pr-0">
  <p class="tw-mx-auto tw-text-left tw-font-body tw-font-bold  tw-my-8 tw-text-md">WATCH YARDBALL</p>
  <div class="tw-whitespace-nowrap tw-flex tw-gap-8 tw-overflow-x-scroll">
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
    <div class="video-cover tw-shadow-lg tw-rounded-lg tw-min-h-[500px] tw-min-w-[300px] tw-flex">
      <div></div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Tiktok",
  "presets": [
    {
      "name": "Tiktok",
      "category": "Tiktok"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "tiktok_title",
      "label": "Title",
      "default": "THE BALL FOR ALL!"
    }
  ]
}
{% endschema %}
