// create liquid based from schema below

{% comment %}
  {{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
{% endcomment %}

{% comment %}
  {% javascript %}
  {% endjavascript %}
{% endcomment %}

{% assign video1 = section.settings.video1 %}
{% assign video2 = section.settings.video2 %}
{% assign video3 = section.settings.video3 %}
{% assign video4 = section.settings.video4 %}
{% assign video5 = section.settings.video5 %}
{% assign title = section.settings.title %}
{% assign description = section.settings.description %}

<p>{{ title }}</p>
<p>{{ description }}</p>


<div class="video-slider">
  <div class="video-slides">
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video1 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video2 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video3 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video4 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video5 | asset_url }}" type="video/mp4">
      </video>
    </div>
  </div>

{% schema %}
{
  "name": "Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Slider"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video",
      "id": "video1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video4",
      "label": "Video 4"
    },
    {
      "type": "video",
      "id": "video5",
      "label": "Video 5"
    }
  ]
}
{% endschema %}
