<p>{{ title }}</p>
<p>{{ description }}</p>

{% comment %}
  <div class="video-slider">
  <div class="video-slides">
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video1 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video2 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video3 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video4 | asset_url }}" type="video/mp4">
      </video>
    </div>
    <div class="video-slide">
      <video autoplay muted loop>
        <source src="{{ video5 | asset_url }}" type="video/mp4">
      </video>
    </div>
  </div>
{% endcomment %}

{% schema %}
{
  "name": "Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Slider"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video",
      "id": "video1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video4",
      "label": "Video 4"
    },
    {
      "type": "video",
      "id": "video5",
      "label": "Video 5"
    }
  ]
}
{% endschema %}
